.tools {
  &__title {
    text-align: center;
    margin-bottom: 25px;
  }
  &__subtitle {
    text-align: center;
    margin-bottom: 60px;
  }
  .hide {
    display: none;
    &.active {
      display: block;
    }
  }
  .wrapper {
    padding: 33px;
    border-radius: 7px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    max-width: 350px;
        width: 100%;
        min-height: 330px;
    &::after {
      content: "";
      background-color: transparent;
      width: 65px;
      height: 65px;
      position: absolute;
      top: 0;
      right: 0;
    }
    &:hover {
      background-color: $black-aplha;
      backdrop-filter: blur(50px);
      transition: 0.3s;
      box-shadow: none;
      &::after {
        background-color: $main-alpha;
        filter: blur(40px);
        transition: 0.3s;
      }
			.wrapper__card-btn{
					background-color: $main-color;
					color: $white-color;
					transition: 0.3s;
			}
    }
    &__card-top {
      display: flex;
    }
    &__card-info {
      margin-left: 40px;
    }
    &__card-title {
      font-family: $main-text;
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 36px;
      color: $white-color;
    }
    &__card-subtitle {
      font-family: $main-text;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: $third-color;
    }
    &__card-text {
      font-family: $main-text;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 30px;
      color: $secondary-color;
      margin: 30px 0;
    }
    &__card-bottom {
      display: flex;
      justify-content: space-between;
    }
    &__card-icons {
      display: flex;
      align-items: center;
      column-gap: 15px;
      span {
        cursor: pointer;
      }
    }
    &__card-btn {
      font-family: $main-text;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: $secondary-color;
      padding: 9px 35px;
      transition: 0.3s;
    }
  }
  &__more {
    padding: 17px 38px;
    color: $main-color;
    background-color: $black-aplha;
    backdrop-filter: blur(50px);
		transition: 0.3s;
		display: block;
		margin: 30px auto;
    &:hover {
      color: $white-color;
      background-color: $main-color;
			transition: 0.3s;
    }
  }
}
